- if user_signed_in?
	%p#intro
		Hello
		= current_user.name
		%br/
		%span
			Sales!! Last Chance 50%!
- else 
	%p#intro
		What do you want to do this summer?
		%br/
		%span
			Sales!! Last Chance 50%!
#products
	- @products.each do |product|
		.product
			.product_image
				= link_to (image_tag product.image.url(:small))
			.product_content	
				.title
					%h2= link_to product.title, product
					
				
				

	= link_to 'Add product', new_product_path	